.centerstyle {
	width:100%;
	text-align:center;
}

.album {
	background-image: url("ocean.jpg");
	display:inline-block;
	height:225px;
	width:225px;
}

.bandmembers {
	font-style:italic;
}

a {
	font-family:Oswald;
	text-decoration:none;
	
}

a:link {
	color:none;
}

a:visited {
	color:black;
}

a:hover {
	background-color:lemonChiffon;
	text-decoration:underline;
}

a:active {
	font-weight:bold;
}

.tracktable td {
	font-style:italic;
}

.tracktable {
	background-color:lemonChiffon;
}

.table-responsive tr:nth-child(even) {
	background-color:LemonChiffon;
}

.table-responsive tr:nth-child(odd) {
	background-color:LawnGreen;
}