.headerfooter {
	text-align:center;
}

a:link {
	color:blue;
}

a:visited {
	color:red;
}

a:hover {
	font-weight:bold;
}

a:active {
	text-decoration:none;
}

#beverages {
	text-decoration:underline;
	text-align:center;

}